.header {
  height: 5vh;
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.header__title {
  font-size: 25px;
  font-weight: bold;
}

.header__list {
  display: inline;
  margin-left: 10px;
}

.header__list > a {
  text-decoration: none;
  color: black
}

.card {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.card__list--no-dot {
  list-style-type: none;
  text-align: center;
}